@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #fff;
  --color-white: #ffffff;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #101010;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  /*color: var(--custom-color);*/
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.updateButtonContainer {
  margin: .75rem 0;
}
header {

  width: 100%;
  padding: 1rem 3rem;
  background: var(--custom-panel-color);
  color: var(--color-white);
}
nav {
  margin: 0 auto;
  display: flex;
  max-width: 60rem;
  justify-content: space-between;
}
header > nav > div > span {
  cursor: pointer;
  font-size: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
}
header > nav > div > span > a {
  text-decoration: none;
  color: var(--color-white);
}
.firstPart > span:not(:last-child){
  padding-right: 1rem;
}
.secondPart>span:first-child {
  padding-right: .375rem;
}
.secondPart>span:not(:last-child):after {
  content:'   |';
}
.keywordsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchKeywords{
  display: flex;
  flex-direction: column;
  /*gap: 1rem;*/
}
.addKeyword > div {
  display: flex;
}
.keywordInputs {
  margin-bottom: .75rem;
  gap: 1rem;
}
.keywordInputs > input:first-child {
  margin-right: 2rem;
}
.keywordsList{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}
.keywordItem {
  display: flex;
  width: 100%;
}
.keywordValue{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.keywordValuesItem {
  display: flex;
  flex-direction: column;
}
.keywordLabel {
  color: #656565;
  font-size: 13px;
}
.keywordData {
 font-size: 18px;
}
.keywordWeight {
  display: flex;
  justify-content: flex-end;
}
.deleteKeyword {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 6px;
  padding-bottom: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  height: 100%;
  cursor: pointer;
  /*padding: 2px;*/
  color: var(--custom-color);
}
.deleteKeyword > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 3rem;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 1rem .5rem;
  }
  .keywordsList{
    grid-template-columns: auto;
  }
}
/* Forms */

label {
  display: block;
  margin: 5px 0;
  color: var(--custom-color-secondary);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.searchInputContainer {
  display: flex;
  width: 100%;
}
.inputContainer{
  display: inline-block;
  width: 100%;
}
.fileInputContainer{
  width: 20%;
  margin-bottom: .875rem;
}
.fileInputContainer > input::-webkit-file-upload-button {
  visibility: hidden;
}
.fileInputContainer > input::before {
  content: 'SELECT IMAGE';
  display: inline-block;
  background: var(--custom-color-brand);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.cardContainer{
  display: flex;
  margin: .3rem 0;
  padding-bottom: .675rem;
  border-bottom: 2px solid var(--custom-color);
}
.cardDetails {
  list-style-type: none;
  padding-left: 1.2rem;
  margin: .1rem 0;
}
.cardName {
  margin: .2rem 0;
}
.cardName > a {
  text-decoration: none;
}
.cardName > a:visited, .cardName > a:link {
  text-decoration: none;
  color: var(--custom-color);
}
.cardRating {
  font-size: 25px;
}
.cardNumComments {
  font-size: 18px;
}
.cardPrice {
  font-size: 28px;
  font-weight: bold;
}
.cardType {
  font-size: 20px;
}
.cardType > span {
  color: var(--custom-color-brand);
  font-weight: bold;
}
.productImageWrap {
  max-width: 150px;
  height: auto;
}
.productImageWrap > a > img {
  width: 100%;
}
.filterSubmit {
  margin-top: 1.5rem;
}
.filterType {
  margin-top: 1.5rem;
}
.filterType > ul {
  list-style-type: none;
  padding-left: 1rem;
  margin-bottom: 0;
  margin-top: .5rem;
}
.filterType > ul > li > span {
  color: var(--custom-color-brand);
  font-weight: bold;
  font-size: 18px;
  margin-left: .2rem;
}
.filterType > span {
  display: block;
  padding: .3rem .3rem .5rem .5rem;
  background: #1e1e1e;
  color: var(--custom-color-brand);
  font-size: 20px;
  font-weight: bold;
  border-left: .675rem solid var(--custom-color-brand);
}
.sliderContainer{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.rangeInput {
  width: 2.25rem;
}
.productImageContainer {
  max-width: 260px;
  height: auto;
  border: 1px solid #1e1e1e;
}
.productImageContainer > img {
  width: 100%;
}
.productData {
  display: flex;
  gap: 2rem;
}
.productInfo > h1 {
  margin: 0;
}
.productInfo > p {
  font-weight: bold;
  font-size: 18px;
}
.productInfo > p > span {
  color: var(--custom-color-brand);
}
.productRating {
  font-size: 25px;
}
.commentContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.leaveCommentContainer {
  margin-bottom: 1rem;
}
input[type=text], input[type=search], textarea {
  width: 100%;
  border-radius: 4px;
  border: var(--custom-border);
  padding: 10px 15px;
  font-size: 14px;
  background-color: #1e1e1e;
  color: var(--color-white);
  box-sizing: border-box;
  /*letter-spacing: 6px;*/
  font-family: ui-sans-serif, sans-serif;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
textarea {
  height: 6rem;
}
input[type="checkbox"] {
  accent-color: var(--custom-color-brand);
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a9a9a9;
  opacity: 1; /* Firefox */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
input[disabled] {
  color: var(--custom-color-secondary);
}
.searchInputContainer > input {
  font-size: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 2px solid var(--custom-color-brand);
}
.searchInputContainer > input:focus{
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button{
  background-color: var(--custom-color-brand);
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.searchWrap {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-gap: 1rem;
}
.cardDetails > li > svg {
  fill: var(--custom-color-brand);
}
/* Button */
.deleteProductButton {
  background: var(--custom-color-brand);
  border: none;
  padding: .5rem;
  /*font-size: 18px;*/
  font-weight: bold;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border: 1px solid var(--custom-color-brand);
  background-color: var(--custom-color-brand);
  font-family: ui-sans-serif, sans-serif;
  text-align: center;
  border-radius: 4px;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

button.primary,
.button.primary {
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
}

.searchButton {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: .5rem .75rem;
  background: #1e1e1e;
  cursor: pointer;
}
.searchButton > svg {
  fill: var(--custom-color-brand);
  width: 1.8rem;
  height: 1.8rem;
}

